@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide 35s linear infinite;
  }
  
  .hover\:pause:hover {
    animation-play-state: paused;
  }
  